---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Constantin Verine" description="About Constantin Verine">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/MoiBasel.jpg"
					alt="Constantin Verine at a convention presenting his project"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>I’m a <b>technically focused game programmer</b> with a strong foundation in <b>C++</b>,
						currently completing my <b>Bachelor’s in Games Programming</b>.
						I specialize in systems programming, performance optimization, and tool development.</p>
					</br>
					<p>I developed a <b>2D physics engine</b>, which I later expanded into <b>3D</b> and extended
						with a real-time <b>fluid simulation</b>.
						Alongside this, I’ve worked with <b>Unreal Engine</b>, integrating tools like <b>Wwise</b> for audio and managing collaboration through <b>Perforce</b>.
						I also build <b>Python tools</b> to analyze and generate game-related data, combining gameplay logic with automation and scripting.</p>
					</br>
					<p>I speak <b>French</b>, <b>Russian</b>, <b>English</b>, and </b>a bit of German</b>, and I’m always open to <b>learn,
						 explore new technologies</b>, and deepen my understanding across all aspects of game development.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">CV</h2>
				
				<div class="content">
					<p>
					<iframe src="/assets/Dummy.pdf#navpanes=0&toolbar=0&statusbar=0&view=FitH" width="100%" height="1440px" />
					<a href="/assets/Dummy.pdf">Download my CV</a>.
					</p>
								
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
